/* RGB */


/*rgba(12, 8, 2, 1);
rgba(187, 68, 48, 1);
rgba(229, 249, 224, 1);
rgba(202, 254, 72, 1);
rgba(127, 244, 139, 1);*/


/*General*/

#container {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
.score {
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(202, 254, 72, 1);
}
body {
    background-color: rgba(200, 88, 68, 1);
}
h1 {
    margin: 10vh 0;
    font-weight: 200;
    color: rgba(202, 254, 72, 1);
}
input {
    width: 40vw;
    border-radius: 10px;
    display: block;
    margin: 2vh auto;
}
#song-name {
    font-size: 1.25em;
    color: rgba(229, 249, 224, 1);
}

/*BUTON*/

#buttons {
    margin: 5vh auto;
    text-align: center;
}
.button {
    display: inline-block;
    background: rgba(127, 244, 139, 1);
    color: rgba(187, 68, 48, 1);
    padding: 1vh 5vw;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    margin: 5vh auto;
}
.button:hover {
    box-shadow: 0px 37px 20px -2vh rgba(0, 0, 0, 0.2);
    transform: translate(0px, -1vh) scale(1.2);
}

/*VISUALIZER / EQUALIZER*/

#visualizer {
    display: flex;
    height: 17vh;
    width: 22.5vw;
    margin: 0 auto;
    transform: rotate(180deg);
}
.equalizer {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vh;
}

.equalizer:nth-child(3n+2) {
    background-color: rgba(127, 244, 139, 1);
    animation: equalize3 1.5s steps(25, end) 0s infinite;
}
.equalizer:nth-child(4n+3) {
    background-color: rgba(244, 244, 139, 1);
    animation: equalize2 1.5s steps(25, end) 0s infinite;
}
.equalizer:nth-child(1),.equalizer:nth-child(4),.equalizer:nth-child(6),.equalizer:nth-child(9) {
    background-color: rgba(202, 254, 72, 1);
    animation: equalize 1.5s steps(25, end) 0s infinite;
}
@keyframes equalize {
    0% {
        height: 5vh;
    }
    4% {
        height: 2.5vh;
    }
    8% {
        height: 5vh;
    }
    12% {
        height: 8.75vh;
    }
    16% {
        height: 12.5vh;
    }
    20% {
        height: 16.25vh;
    }
    24% {
        height: 15vh;
    }
    28% {
        height: 13.75vh;
    }
    32% {
        height: 13.75vh;
    }
    36% {
        height: 10vh;
    }
    40% {
        height: 12.5vh;
    }
    44% {
        height: 12.5vh;
    }
    48% {
        height: 13.75vh;
    }
    52% {
        height: 15vh;
    }
    56% {
        height: 16.25vh;
    }
    60% {
        height: 15vh;
    }
    64% {
        height: 15vh;
    }
    68% {
        height: 13.75vh;
    }
    72% {
        height: 12.5vh;
    }
    76% {
        height: 13.75vh;
    }
    80% {
        height: 15vh;
    }
    84% {
        height: 15vh;
    }
    88% {
        height: 16.25vh;
    }
    92% {
        height: 12.5vh;
    }
    96% {
        height: 8.75vh;
    }
    100% {
        height: 5vh;
    }
}
@keyframes equalize2 {
    0% {
        height: 15vh;
    }
    4% {
        height: 16.25vh;
    }
    8% {
        height: 15vh;
    }
    12% {
        height: 15vh;
    }
    16% {
        height: 13.75vh;
    }
    20% {
        height: 13.75vh;
    }
    24% {
        height: 13.75vh;
    }
    28% {
        height: 15vh;
    }
    32% {
        height: 15vh;
    }
    36% {
        height: 16.25vh;
    }
    40% {
        height: 16.25vh;
    }
    44% {
        height: 16.25vh;
    }
    48% {
        height: 13.75vh;
    }
    52% {
        height: 10vh;
    }
    56% {
        height: 7.5vh;
    }
    60% {
        height: 10vh;
    }
    64% {
        height: 12.5vh;
    }
    68% {
        height: 13.75vh;
    }
    72% {
        height: 16.25vh;
    }
    76% {
        height: 15vh;
    }
    80% {
        height: 15vh;
    }
    84% {
        height: 13.75vh;
    }
    88% {
        height: 13.75vh;
    }
    92% {
        height: 11.25vh;
    }
    96% {
        height: 13.75vh;
    }
    100% {
        height: 15vh;
    }
}
@keyframes equalize3 {
    0% {
        height: 11.25vh;
    }
    4% {
        height: 8.75vh;
    }
    8% {
        height: 11.25vh;
    }
    12% {
        height: 13.75vh;
    }
    16% {
        height: 16.25vh;
    }
    20% {
        height: 18.75vh;
    }
    24% {
        height: 17.5vh;
    }
    28% {
        height: 13.75vh;
    }
    32% {
        height: 11.25vh;
    }
    36% {
        height: 10vh;
    }
    40% {
        height: 8.75vh;
    }
    44% {
        height: 6.25vh;
    }
    48% {
        height: 10vh;
    }
    52% {
        height: 12.5vh;
    }
    56% {
        height: 13.75vh;
    }
    60% {
        height: 16.25vh;
    }
    64% {
        height: 15vh;
    }
    68% {
        height: 13.75vh;
    }
    72% {
        height: 13.75vh;
    }
    76% {
        height: 12.5vh;
    }
    80% {
        height: 15vh;
    }
    84% {
        height: 16.25vh;
    }
    88% {
        height: 17.5vh;
    }
    92% {
        height: 15vh;
    }
    96% {
        height: 12.5vh;
    }
    100% {
        height: 11.25vh;
    }
}
